$content-width: 1000px;

$body-background-color: #0f172a;
$sidebar-color: #111827;
$body-text-color: #e5e7eb;
$link-color: #60a5fa;

$nav-child-link-color: #cbd5e1;

$base-font-family:
  "Pretendard",
  "Noto Sans KR",
  sans-serif;
